<%- include("header") -%>

<h1>About</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, blanditiis voluptatibus dicta expedita perferendis, nisi dignissimos debitis ipsam explicabo cupiditate similique repellat eum nam? Vero cum debitis at beatae sed?</p>

<%- include("footer") -%>